barrier_free_navigation/android/.gradle/9.2.0/checksums/checksums.lock
barrier_free_navigation/android/.gradle/9.2.0/fileChanges/last-build.bin
barrier_free_navigation/android/.gradle/9.2.0/fileHashes/fileHashes.bin
barrier_free_navigation/android/.gradle/9.2.0/fileHashes/fileHashes.lock
barrier_free_navigation/android/.gradle/9.2.0/gc.properties
barrier_free_navigation/android/.gradle/buildOutputCleanup/buildOutputCleanup.lock
barrier_free_navigation/android/.gradle/buildOutputCleanup/cache.properties
barrier_free_navigation/android/.gradle/vcs-1/gc.properties
barrier_free_navigation/android/build/reports/problems/problems-report.html
